<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd">

	<context:component-scan base-package="com.blogspot.javaclickonline.springws.moviesbrowser.endpoint" />
	
	<sws:annotation-driven/>

	<bean id="moviesBrowserService" class="com.blogspot.javaclickonline.springws.moviesbrowser.service.MoviesBrowserServiceImpl" />

	<sws:interceptors>
		<bean id="validatingInterceptor" class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor">
		    <property name="schema" value="/WEB-INF/resources/MoviesBrowser.xsd"/>
		    <property name="validateRequest" value="true"/>
		    <property name="validateResponse" value="true"/>
		</bean>
	</sws:interceptors>
	
	<bean id="moviesRequest" class="org.springframework.ws.wsdl.wsdl11.SimpleWsdl11Definition">
		<property name="wsdl" value="/WEB-INF/resources/MoviesBrowser.wsdl" />
	</bean>
	
<!-- 	<sws:dynamic-wsdl id="moviesRequest" portTypeName="MoviesBrowser" locationUri="http://localhost:8080/SpringWS/"> -->
<!-- 		<sws:xsd location="/WEB-INF/resources/MoviesBrowser.xsd"/> -->
<!-- 	</sws:dynamic-wsdl> -->
	
</beans>
